connect duckdb

In [1]:
import duckdb

conn = duckdb.connect("sakila.duckdb")

# determine the maximum number of rows DuckDB will..
# sample from a Pandas DataFrame when automatically analyzing its schema
conn.sql("SET pandas_analyze_sample=100000;")

a) Which movies are longer than 3 hours (180 minutes), show the title and its length?

In [ ]:
longer_than_3_hour = conn.sql("""

select 
    title, 
    length 
from staging.film
where length > 180
        """).df()

longer_than_3_hour['title'] = longer_than_3_hour['title'].str.title()

# lägger till en header/rubrik med style.setcaption
longer_than_3_hour.style.set_caption("Movies longer than 3 hours").set_table_styles([
    
    {
        "selector": "caption", # sätter att jag vill styla caption (som är rubrik) 
        "props": [ # detta är css-reglerna för min styling - en lista med tuples 
            
            ("font-family", "Arial"),
            ("font-size", "Arial"),
            ("font-size", "20px"),
            ("font-weight", "bold"),
            ("margin-bottom", "5px")
        ] 
    }
])

b) Which movies have the word "love" in its title?
 
Show the following columns, title ,rating length, description

In [ ]:
conn.sql(""" --sql

select
    title,
    rating,
    length, 
    description
    
    from staging.film
    where regexp_matches(title, 'love')
    
;
""").df()

c) Calculate descriptive statistics on the length column, 

The Manager wants, shortest, average, median and
longest movie length

In [ ]:
conn.sql(""" 
         --sql
         select
            min(length) as shortest_movie_min,
            avg(length) as average_length_of_all_movies_min,
            median(length) as median_length_of_all_movies_min,
            max(length) as longest_movie_min
             
            
         from staging.film
         """).df()

d) The rental rate is the cost to rent a movie and the rental duration is the number of days a customer can keep the movie.

 The Manager wants to know the 10 most expensive movies to rent per day.

https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html

In [ ]:

ten_exp_movie = conn.sql(""" --sql
         
    select
        title,
        rental_rate/rental_duration as cost_per_day_usd
            
    from staging.film
    order by cost_per_day_usd desc
    limit 10

        """).df()

# snyggar upp titlarna med funktionen .str.title() och sparar tillbaka ändringen till kolumnen

ten_exp_movie['title'] = ten_exp_movie['title'].str.title()

# lägger till en titel med style.setcaption
ten_exp_movie.style.set_caption("10 most expensive movies").set_table_styles([
    
    {
     "selector": "caption", ## sätter vad jag vill styla, i detta fallet caption = rubrik 
     "props": [ # CSS-reglerna 
         ("font-family", "Arial"),
         ("font-size", "20px"),
         ("font-weight", "bold"),
         ("margin-bottom", "5px")
         ]
    }
    ])